<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>K&LWedding</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="wedding/assets/favicon.ico" />
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/styles.css')}}">
  </head>
  <body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg fixed-top py-3" id="mainNav">
      <div class="container px-4 px-lg-5">
          <a class="navbar-brand" href="#page-top">K&L's Wedding</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ms-auto my-2 my-lg-0">
                  <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                  <li class="nav-item"><a class="nav-link" href="#ourlife">Our life</a></li>
                  <li class="nav-item"><a class="nav-link" href="#ceremony">Ceremony</a></li>
                  <li class="nav-item"><a class="nav-link" href="#reception">Reception</a></li>
                  <li class="nav-item"><a class="nav-link" href="#hotel">Where to Stay</a></li>
                  <li class="nav-item"><a class="nav-link" href="#registry">Registry</a></li>
              </ul>
          </div>
      </div>
    </nav>
    <header class="masthead">
      <div class="container px-4 px-lg-5 h-100">
          <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
              <div class="col-lg-8 align-self-top">
                  <h1 class="text-white font-weight-bold">Kevin and Luisa</h1>
                  <h2 class="text-white font-weight-bold">March 16th, 2024</h2>
                  <p class="text-white font-weight-bold" type = "button" onclick="openImagePopup()">Itinerary</p>

              </div>
              <div class="col-lg-8 align-self-baseline">
                  <p class="text-white-75 mb-5"></p>
              </div>
          </div>
      </div>
    </header>
    <!-- About-->
    <section class="page-section bg-primary" id="about">
      <div class="container px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="col-lg-8 text-center">
                    <h2 class="mt-0">About Us</h2>
                    <hr class="divider-light" />
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="/static/assets/img/portfolio/fullsize/kev.jpg" alt="..." />
                                <h4>Kevin Dinh</h4>
                                <p>I am a software engineer who enjoys climbing and gaming.  I moved down to Austin for a new job a found something more. </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="/static/assets/img/portfolio/fullsize/naponyla.jpg" alt="..." />
                                <h4>Napoleon and Nyla</h4>
                                <p>Our puppies!  They whine for attention and are a menace to one another and society.</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="/static/assets/img/portfolio/fullsize/luisa.jpg" alt="..." />
                                <h4>Luisa Morales</h4>
                                <p>I'm an artist and graphic designer. I love nature, animals, and the beach. In my free time, I enjoy cosplaying, going outdoors, singing karaoke, and playing video games with Kevin.</p>
                            </div>
                        </div>
                    </div>
              </div>
          </div>
      </div>
    </section>
    <!-- Photos-->
    <section class="page-section" id="ourlife">
      <div class="container px-4 px-lg-5">
          <h2 class="text-center mt-0">Where we've been!</h2>
          <hr class="divider-light"/>
      </div>
    <!-- Portfolio-->
    <div id="portfolio">
      <div class="container-fluid p-0">
          <div class="row g-0">
              <div class="col-lg-4 col-sm-6">
                  <a class="portfolio-box" href="/static/assets/img/portfolio/fullsize/edSheeranConcert.jpg" title="Concert">
                      <img class="img-fluid" src="/static/assets/img/portfolio/fullsize/edSheeranConcert.jpg" alt="Free Ed Sheeran Concert.  Thanks Jessie!" />
                      <div class="portfolio-box-caption">
                          <div class="project-category text-white-50">Kansas</div>
                          <div class="project-name">Ed Sheeran Concert</div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <a class="portfolio-box" href="/static/assets/img/portfolio/fullsize/cruise.jpg" title="Cruise">
                      <img class="img-fluid" src="/static/assets/img/portfolio/fullsize/cruise.jpg" alt="On a boat!" />
                      <div class="portfolio-box-caption">
                          <div class="project-category text-white-50">Pacific</div>
                          <div class="project-name">Nice fancy dinner on the cruise</div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="/static/assets/img/portfolio/fullsize/nightOut.jpg" title="Austin">
                    <img class="img-fluid" src="/static/assets/img/portfolio/fullsize/nightOut.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Austin</div>
                        <div class="project-name">A night on east 6th</div>
                    </div>
                </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <a class="portfolio-box" href="/static/assets/img/portfolio/fullsize/lanakai.jpg" title="Hawaii">
                      <img class="img-fluid" src="/static/assets/img/portfolio/fullsize/lanakai.jpg" alt="..." />
                      <div class="portfolio-box-caption">
                          <div class="project-category text-white-50">Hawaii</div>
                          <div class="project-name">Where we got engaged</div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <a class="portfolio-box" href="/static/assets/img/portfolio/fullsize/tahiti.jpg" title="Tahiti">
                      <img class="img-fluid" src="/static/assets/img/portfolio/fullsize/tahiti.jpg" alt="..." />
                      <div class="portfolio-box-caption p-3">
                          <div class="project-category text-white-50">Tahiti</div>
                          <div class="project-name">Enjoying the beach from the cruise</div>
                      </div>
                  </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/assets/img/portfolio/fullsize/KU.jpg" title="Project Name">
                        <img class="img-fluid" src="/static/assets/img/portfolio/fullsize/KU.jpg" alt="..." />
                        <div class="portfolio-box-caption p-3">
                            <div class="project-category text-white-50">KU</div>
                            <div class="project-name">Visiting the Jayhawks</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </section>
    <section class="page-section bg-primary">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">Schedule</h2>
            <p class="text-center mt-0">The church and venue are locked in.  The times are tentative.  We will update when we know for sure.</p>
            <hr class="divider-light"/>
        </div>
        <div class="container py-5">
          <div class="main-timeline-2">
            <div class="timeline-2 left-2" id="ceremony">
              <div class="card">
                <img src="/static/assets/img/portfolio/fullsize/sthelens.png" class="card-img-top"
                  alt="Responsive image">
                <div class="card-body p-4">
                  <h4 class="fw-bold mb-4">St. Helen's Catholic Church, Georgetown, TX</h4>
                    <a target="_blank" href="https://sainthelens.org/" >
                        <p class="mb-4 text-primary" target="_blank" href="https://sainthelens.org/" ><i class="far fa-clock" aria-hidden="true"></i>Ceremony @ March 16th, 2024 1:30PM</p>
                    </a>
                  <p class="mb-0">Where Luisa grew up and received her Sacraments.  Our Ceremony will be held here.</p>
                  <p class="mb-0">Attire: Semi-formal/Western/Vietnamese tradtional. Wear something nice!</p>
                  <p class="mb-0">The ceremony will also be apart of mass, so if you want to skip this part and go to the reception that's fine with us.</p>
                </div>
                <div class="container px-4">
                    <div class="row align-items-center justify-content-center">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d884686.109779931!2d-98.5126782577089!3d29.985030261342725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644d7ae18400b81%3A0x8fd63915e1ea3d63!2sSt.%20Helen%20Catholic%20Church!5e0!3m2!1sen!2sus!4v1700367754015!5m2!1sen!2sus" width="200" height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
              </div>
            </div>
            <div class="timeline-2 right-2" id="reception">
              <div class="card">
                <img src="/static/assets/img/portfolio/fullsize/dales.png" class="card-img-top"
                  alt="Responsive image">
                <div class="card-body p-4">
                  <h4 class="fw-bold mb-4">Dale's Essenhaus Walhburg, TX</h4>
                    <a target="_blank" href="https://dales-essenhaus-walburg.com/" >
                        <p class="text-primary mb-4" target="_blank" href="https://dales-essenhaus-walburg.com/" ><i class="far fa-clock" aria-hidden="true"></i>Reception @ March 16th, 2024 6:00PM</p>
                    </a>
                    <p class="mb-0">Giddy yup y'all and a yeehaw too. We celebrating here!</p>
                </div>
                    <div class="container px-4">
                        <div class="row align-items-center justify-content-center">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3429.3820156527977!2d-97.58745192358282!3d30.73576917458288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864526437b237165%3A0x95d5f2cce6045a29!2sDale&#39;s%20Essenhaus!5e0!3m2!1sen!2sus!4v1699937748286!5m2!1sen!2sus" width="200" height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <section class="page-section" id="hotel">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">Where to Stay?</h2>
            <p class="text-center">Georgetown is the biggest town near the venue, so it'll probably be best to get a place around here.</p>
            <hr class="divider-light"/>
        </div>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="font-weight-light">
                        <a target="_blank" href="https://www.ihg.com/candlewood/hotels/us/en/georgetown/gtngt/hoteldetail?cm_mmc=GoogleMaps-_-CW-_-US-_-GTNGT" >
                            <h2 class="project-name text-black">Candlewood Suites in Georgetown 13mins</h2>
                        </a>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <div class="font-weight-light">
                        <div class="font-weight-light">
                            <a target="_blank" href="https://www.ihg.com/holidayinnexpress/hotels/us/en/georgetown/gtnes/hoteldetail?cm_mmc=GoogleMaps-_-EX-_-US-_-GTNES" >
                                <h2 class="project-name text-black">Holiday Inn in Georgetown 14mins</h2>
                            </a>
                        </div>
                    </div>
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="font-weight-light">
                        <a target="_blank" href="https://www.marriott.com/en-us/hotels/ilegt-sheraton-austin-georgetown-hotel-and-conference-center/overview/?scid=f2ae0541-1279-4f24-b197-a979c79310b0" >
                            <h2 class="project-name text-black">Sheraton in Georgetown 14mins</h2>
                        </a>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="font-weight-light">
                        <a target="_blank" href="https://www.kalahariresorts.com/texas/" >
                            <h2 class="project-name text-black">Kalahari Resorts in Round Rock 25mins</h2>
                        </a>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
            </div>
        </div>
    </section>
    <section class="page-section bg-primary" id="registry">
        <h2 class="text-center mt-0">Registry</h2>
        <p class="text-center">Typically for a Vietnamese wedding a money gift is totally acceptable.  For those that still want to get something here is a small registry.</p>
        <a target="_blank" href="https://www.amazon.com/wedding/share/KLDinhWedding" >
            <p class="project-name text-black text-center">Amazon Registry</p>
        </a>
    </section>
    <footer class="bg-light py-5">
      <div class="container px-4 px-lg-5"><div class="small text-center text-muted">K&LWedding</div></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Core theme JS-->
    <script src="/static/js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
  </body>
</html>
